*{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: slategray;
    display:inline-block;
    width: 100%;
    vertical-align: top;
}
#nav_title{
    display:inline-block;
    vertical-align: top;
    background-color: slategray;
}
.nav-links{
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: row;

}
li{
    margin:20px;
    padding:20px;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}