body{
    font-family:"Roboto", serif
}
*{
    margin: 0px;
    padding: 0px;
}
.nav{
    background-color: slategray;
    border-color: whitesmoke;
    display:flex;
    width: 100%;
    justify-content: space-between;
    color: white;

}
#nav_title{
    display: flex;
    margin:20px;
    padding:20px;
    
    
}
.nav-links{
    display: flex;
    color: white;


}
li{
    margin:20px;
    padding:20px;
}
ul{
    list-style-type: none;
    margin:0;
    padding:0;
}
.btn{
    box-shadow: 10px 5px 5px black;
    width: 140px;
    border-style:solid;
    border-color:black;
    color: white;
    background-color: lightskyblue;
}
a{
    color: white;
}