*{
    margin:0px;
    padding: 0px;
}
.row{
    display: flex;   
}

.col{
    background-color: lightseagreen;
    flex: 1;
    color: white;
    padding:20px;
    margin:10px;
}
.col-2{
    background-color: lightseagreen;
    flex: 2;
    color: white;
    padding:20px;
    margin:10px;
}
.col-3{
    background-color: lightseagreen;
    flex: 3;
    color: white;
    padding:20px;
    margin:10px;
}