*{
    margin:20px;
    padding:20px;
}

.search{
    display:inline-block;
    margin-top: 10px;
    text-align: center;
    border: radius 80%;
    border-bottom-left-radius: 45%;
    border-bottom-right-radius: 45%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    padding: 10px 20px;
    border-color: aqua;
    border-style:solid;
    padding-top: 3px;
    padding-bottom:3px;
    color: aqua;
    background-color: whitesmoke;
}
.plus{
    display: block;
    border-radius:50%;
    background-color:teal;
    color: white;
    text-align: center;
}
.create{
    box-shadow: 10px 5px 5px black;
    width: 140px;
    border-style:solid;
    border-color:black;
    color: white;
    background-color: lightskyblue;
}